<h1>Blog MU Edit</h1>

<%= form_with scope: :article, url: article_update_path, local: true do |f| %>

<p>
   <% if @article.errors.any? %>
      <ul>
         <% @article.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
         <% end %>
      </ul>
   <% end %>
</p>

<p>
   <%= f.label :name %>
   <br/>
   <%= f.text_field :name %>
</p>

<p>
<%= f.label :body %>
<br/>
<%= f.text_field :body %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>

<%= link_to 'Back to Index', article_index_path %>